.card {
  width: 60%;
  min-width: 345px;
  margin-top: 20px;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8vh; 
}

.media {
  height: 0;;
  padding-top: 56.25%; 
}


.expand {
  margin-left: auto;
}

